# Build results
bin/
obj/
node_modules/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider settings
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.dbmdl
*.log
*.tlog
*.cache
*.pdb

# Visual Studio
.vs/